<div class="col">
  <h2 class="text-center">Agregar Préstamo</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="idCliente">Cliente ID:</label>
      <input formControlName="idCliente" placeholder="idCliente" name="idCliente" class="form-control" id="idCliente" required>
    </div>

    <div class="form-group">
      <label for="idpago">Pagos ID:</label>
      <input formControlName="idpago" placeholder="pAGOS id" name="idpago" class="form-control" id="idpago" required>
    </div>

    <div class="form-group">
      <label for="monto">Monto:</label>
      <input type="monto" formControlName="monto" placeholder="Monto" name="monto" class="form-control" id="monto" required>
    </div>

    <div class="form-group">
      <label for="tasa">Tasa:</label>
      <input type="tasa" formControlName="tasa" placeholder="tasa" name="tasa" class="form-control" id="tasa" required>
    </div>

    <div class="form-group">
      <label for="montosaldado">Monto Saldado:</label>
      <input type="montosaldado" formControlName="Monto saladado a la fecha" placeholder="montosaldado" name="montosaldado" class="form-control" id="montosaldado" required>
    </div>

    <div class="form-group">
      <label for="cantidadpagos">Cantidad de Pagos:</label>
      <input type="cantidadpagos" formControlName="Cantidad de días a pagar" placeholder="cantidadpagos" name="cantidadpagos" class="form-control" id="cantidadpagos" required>
    </div>

    <div class="form-group">
      <label for="diaspagados">Días pagados:</label>
      <input type="diaspagados" formControlName="Días pagados" placeholder="diaspagados" name="diaspagados" class="form-control" id="diaspagados" required>
    </div>

    <div class="form-group">
      <label for="diasnopagados">Días NO pagados:</label>
      <input type="diasnopagados" formControlName="Días no pagados" placeholder="diasnopagados" name="diasnopagados" class="form-control" id="diasnopagados" required>
    </div>

    <div class="form-group">
      <label for="fechainicio">Fecha de Inicio:</label>
      <input type="fechainicio" formControlName="Fecha de inicio" placeholder="fechainicio" name="fechainicio" class="form-control" id="fechainicio" required>
    </div>

    <div class="form-group">
      <label for="pagos">Pagos:</label>
      <input type="pagos" formControlName="Pagos" placeholder="pagos" name="pagos" class="form-control" id="pagos" required>
    </div>

    <button class="btn btn-success">Aceptar</button>
    <button class="btn btn-primary" routerLink="list-customer">Regresar</button>
  </form>
</div>