<div class="col">
  <h2 class="text-center">Agregar Préstamo</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="idcliente">Cliente ID:</label>
      <input formControlName="idcliente" placeholder="Cliente ID" name="idcliente" class="form-control" id="idcliente" required>
    </div>

    <div class="form-group">
      <label for="idpagos">Pagos ID:</label>
      <input formControlName="idpagos" placeholder="pAGOS id" name="idpagos" class="form-control" id="idpagos" required>
    </div>

    <div class="form-group">
      <label for="monto">Monto:</label>
      <input formControlName="monto" placeholder="Monto" name="monto" class="form-control" id="monto" required>
    </div>

    <div class="form-group">
      <label for="tasa">Tasa:</label>
      <input formControlName="tasa" placeholder="tasa" name="tasa" class="form-control" id="tasa" required>
    </div>

    <div class="form-group">
      <label for="montosaldado">Monto Saldado:</label>
      <input formControlName="montosaldado" placeholder=" " name="montosaldado" class="form-control" id="montosaldado" required>
    </div>

    <div class="form-group">
      <label for="cantidadpagos">Cantidad de Pagos:</label>
      <input formControlName="cantidadpagos" placeholder=" " name="cantidadpagos" class="form-control" id="cantidadpagos" required>
    </div>

    <div class="form-group">
      <label for="diaspagados">Días pagados:</label>
      <input formControlName="diaspagados" placeholder=" " name="diaspagados" class="form-control" id="diaspagados" required>
    </div>

    <div class="form-group">
      <label for="diasnopagados">Días NO pagados:</label>
      <input formControlName="diasnopagados" placeholder=" " name="diasnopagados" class="form-control" id="diasnopagados" required>
    </div>

    <div class="form-group">
      <label for="fechainicio">Fecha de Inicio:</label>
      <input formControlName="fechainicio" placeholder="XXXX-XX-XX" name="fechainicio" class="form-control" id="fechainicio" required>
    </div>

    <div class="form-group">
      <label for="pagos">Pagos:</label>
      <input formControlName="pagos" placeholder=" " name="pagos" class="form-control" id="pagos" required>
    </div>

    <button class="btn btn-success">Aceptar</button>
    <button class="btn btn-primary" routerLink="list-customer">Regresar</button>
  </form>
</div>